:root {
    --primary: #DB1222;
    --secondary: #344D78;
    --bg-primary: #FFFFFF;
    --bg-warning: #FFC107;
    --bg-secondary: #F5F5F5;
    --text-primary: #666666;
    --text-secondary: #333333;
}